In [1]:
import pandas as pd
import numpy as np

In [3]:
! ls

pandas_101.ipynb  pandas-merge-tutorial.ipynb

In [2]:
df = pd.read_csv("../data_dir/NYC_Jobs.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3773 entries, 0 to 3772
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Job ID               3773 non-null   int64
 1   Civil Service Title  3773 non-null   object
 2   Agency               3773 non-null   object
 3   Posting Type         3773 non-null   object
 4   Job Category         3770 non-null   object
 5   Salary Range From    3773 non-null   float64
 6   Salary Range To      3773 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 206.5+ KB

In [4]:
df.head()

,Job ID,Civil Service Title,Agency,Posting Type,Job Category,Salary Range From,Salary Range To
0,424339,PUBLIC HEALTH NURSE,DEPT OF HEALTH/MENTAL HYGIENE,External,Health,84252.0,84252.0
1,379094,CERT IT DEVELOPER (APP),NYC EMPLOYEES RETIREMENT SYS,External,NaN,82884.0,116391.0
2,520417,EXECUTIVE AGENCY COUNSEL,NYC HOUSING AUTHORITY,External,Legal Affairs,105000.0,125000.0
3,233549,CERTIFIED IT ADMINISTRATOR (LA,NYC EMPLOYEES RETIREMENT SYS,External,Information Technology & Telecommunications,87203.0,131623.0
4,510256,ASSOCIATE HUMAN RIGHTS SPECIAL,HUMAN RIGHTS COMMISSION,External,Constituent Services & Community Programs,58449.0,67216.0

In [5]:
np.random.randint(2, 10, size=9)

array([9, 9, 4, 9, 2, 3, 4, 5, 6])